.filterMenu {
    /* Background */
    position: absolute;
    width: 1124px;
    height: 73px;
    left: 300px;
    right: -300px;
    top: 80px;
    bottom: -80px;
    border-radius: 14px;

    background: rgb(39, 40, 60);
}

.filterMenu p {
    color: rgb(199, 199, 199);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
    margin-left: 33px;
}

.section {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 250px;
}

