.profileAccount {
    width: 83%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    .profileNav {
        width: 325px;
        height: 430px;
        border-radius: 5px;
        background: rgb(243, 244, 246);
        padding: 40px;

        .account {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            width: 233px;
            height: 56px;
            border-radius: 4px;
            cursor: pointer;
            padding: 15px;

            .pp {

                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;
                color: rgb(130, 130, 130);

            }
        }

        .basket {
            background: rgba(214, 54, 38, 0.1);
            margin: 7px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            width: 233px;
            height: 56px;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;
            .pp {

                color: rgb(214, 54, 38);
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;


            }
        }

        .orders {
            margin: 7px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            width: 233px;
            height: 56px;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;
            .pp {
                color: rgb(130, 130, 130);

                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;


            }
        }

        .checkout {
            margin: 7px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            width: 233px;
            height: 56px;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;
            .pp {
                color: rgb(130, 130, 130);

                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;


            }
        }

        .logout {
            margin: 7px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            width: 233px;
            height: 56px;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;
            .pp {
                color: rgb(130, 130, 130);

                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;


            }
        }
    }

    .profile {
        width: 1031px;
        height: 601px;
        background: rgb(243, 244, 246);
        padding: 40px;

        .head {
            h2 {
                color: rgb(79, 79, 79);
                font-family: sans-serif;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;
                margin-bottom: 20px;
            }
        }

        .baskets {

            .basket {
                width: 732px;
                height: 127px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 2px solid rgb(224, 224, 224);

                .product {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 60px;

                    .productName {
                        color: rgb(79, 79, 79);

                        font-size: 20px;
                    }
                }

                .count {
                    border-radius: 9px;
                    width: 50px;
                    height: 70px;
                    text-align: center;
                    background-color: white;

                    span {
                        cursor: pointer;
                    }
                }
            }
        }

        .checkouts {
            margin-top: 30px;
            width: 746px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 100px;

            background: rgb(214, 54, 38);
            padding: 20px;

            h3 {
                color: white;
            }

            .price {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background: rgb(255, 255, 255);
                width: 189px;
                height: 33px;
                color: rgb(214, 54, 38);
            }
        }
    }
}