/* Header Styles */
.header {
    display: flex;
    width: 100%;
    height: 64px;
    flex-shrink: 0;
    background-color: #27283C;
    border-radius: 10px;
    margin-top: -20px;
}

.foodytext,
.span {
    color: #F5F5F5;
    font-family: 'Mukta', sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.84px;
    margin-left: 21px;
}

.span {
    color: #EAAB00;
}

.button {
    width: 107px;
    height: 28px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 2px solid #C035A2;
    background: #C035A2;
    box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.20);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
}

/* Header End Styles */
.headerend {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: auto;
}

.headerend img {
    background-color: none;
    margin-top: 20px;
}

.headerend p {
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
}