/* CSS */
.order {
    /* Background */
    position: absolute;
    width: 1108px;
    height: 73px;
    left: 300px;
    right: -300px;
    top: 80px;
    bottom: -80px;
    border-radius: 14px;
    background: rgb(39, 40, 60);
}

.order p {
    color: rgba(242, 242, 242, 0.87);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    margin-left: 33px;
    margin-top: 21px;
}

/* General table styling */
.Table {
    position: absolute;
    width: 1100px;
    height: 49px;
    margin-left: 300px;
    margin-top: 130px;
    border-collapse: collapse;
}

/* Header cell styling */
.TableHead {
    background-color: #f2f2f2;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Body cell styling */
.TableBody {
    background-color: #fff;
}

/* Hover effect for table rows */
.TableBody tr:hover {
    background-color: #f5f5f5;
}

.text {
    /* Tag */
    width: 57px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 12px 2px 12px;
    margin-top: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(223, 226, 233);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.text2 {
    border: none;
}

.td{
    width: 150px;
}
