.section {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 300px;
    gap: 40px;
    margin-top: 150px;

}

.Background {
    background: rgb(30, 30, 48);
    height: 142vh;
}

.ResturantType {
    border-radius: 14px;

    background: rgb(39, 40, 60);
    /* Background */
    position: absolute;
    width: 1148px;
    height: 73px;
    left: 300px;
    right: -300px;
    top: 80px;
    bottom: -80px;
}

.ResturantIn {
    display: flex;
    justify-content: space-between;
}

.ResturantIn p {
    color: rgba(242, 242, 242, 0.87);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;

    margin-left: 33px;
    margin-top: 25px;
}

.ResturantIn button {
    box-sizing: border-box;
    border: 2px solid rgb(192, 53, 162);
    border-radius: 14px;

    box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.2);
    background: rgb(192, 53, 162);
    margin-top: 20px;
    margin-right: 21px;
    width: 168px;
    height: 35px;


    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
}