.categoryMain {
    /* Background */
    position: absolute;
    width: 1108px;
    height: 73px;
    left: 300px;
    right: -300px;
    top: 80px;
    bottom: -80px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    background: rgb(39, 40, 60);
}

.categoryMain p {
    color: rgba(242, 242, 242, 0.87);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    margin-left: 12px;

}

.categoryMain button {
    box-sizing: border-box;
    border: 2px solid rgb(192, 53, 162);
    border-radius: 14px;

    box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.2);
    background: rgb(192, 53, 162);
    margin-top: 18px;
    margin-right: 21px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    /* Background */
    width: 168px;
    height: 35px;

}